<div class="container underNav"></div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="well form-control">
    <form action="/" method="GET" class="form-group">
      <input type="text" name="zipcode" class="" placeholder="zipcode">
      <input type="submit" class="btn-sm subBtn">
    </form>
  </div>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <!-- loop through my results array and display each job -->
  <% results.forEach(function(job){ %>
    <div class="well wellColor">
      <h2 class="jobTitle"><%= job.jobTitle %></h2>
      <h3 class="jobCompany"><%= job.company %></h3>
      <h3 class="jobLocation"><%= job.location %></h3>
      <a href=<%= job.detailUrl %> target="_blank" class="btn jobUrl">see job posting</a>
      <button class="btn saveBtn" action="/favJob">Save this job</button>
    </div>
  <% }); %>








