@media (max-width : 760px) {
  .removeGutter {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  .btn {
    border-radius: 0px;
  }

  .btn-sm {
    border-radius: 0px;
  }

  .well {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .underNav {
    margin-top: 150px;
    text-align: center;
  }

  body {
    background-color: #193441;
  }

  li {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  .a {
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  /*.a:hover {
    background-color: red;
  }*/

  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px; 
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
  }

  .navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  #navLink {
    display: inline-block;
    width: 50%;
    text-align: center;
    border: solid black 1px;
    margin-left: 1px;
    margin-right: -6px;
    padding-right: 0px;
    padding-left: 0px;
    height: 52px;
    background-color: #91aa9d;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;  
  }

  .navheader {
    text-align: center;
  }

  #tempdiv {
    height: 182px;
  }

  #loginDiv {
    background-color: #d1dbbd;
  }

  .form-control {
    border-radius: 0px;
  }

  .theNav {
    background-color: #d1dbbd;
  }

  .saveBtn {
    background-color: #3e606f;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .jobUrl {
    background-color: #3e606f;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .subBtn {
    background-color: #91aa9d;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .wellColor {
    background-color: #fcfff5;
  }

  #headerA {
    color: #193441;
    font-family: 'Roboto', sans-serif;
  }

  .form-group {
    text-align: center;
  }
}
/*///////////////////////////////////////////*/
@media (min-width: 761px){
  .removeGutter {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    margin: auto; 
  }

  .btn {
    border-radius: 0px;
  }

  .btn-sm {
    border-radius: 0px;
  }

  .well {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .underNav {
    margin-top: 150px;
    text-align: center;
  }

  body {
    background-color: #193441;
  }

  li {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  .a {
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px; 
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
  }

  .navbar-nav {
    float: right;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px; 
  }

  #navLink {
    display: inline-block;
    text-align: center;
    border: solid black 1px;
    padding-right: 0px;
    padding-left: 0px;
    height: 63px;
    width: 100px;
    background-color: #91aa9d;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;  
  }

  .navheader {
    margin-left: 10px;
  }

  #tempdiv {
    height: 182px;
  }

  #loginDiv {
    background-color: #d1dbbd;
  }

  .form-control {
    border-radius: 0px;
  }

  .theNav {
    background-color: #d1dbbd;
  }

  .saveBtn {
    background-color: #3e606f;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .jobUrl {
    background-color: #3e606f;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .subBtn {
    background-color: #91aa9d;
    color: #fcfff5;
    font-family: 'Roboto', sans-serif;
  }

  .wellColor {
    background-color: #fcfff5;
  }

  #headerA {
    color: #193441;
    font-family: 'Roboto', sans-serif;
  }

  #navLink:hover {
    background-color: #193441;
  }
}

